


<div style ="margin-left: 300px; margin-right: 300px; margin-top: 100px;">	
  
 <% month = Date.parse('01/01/2020') %>

 <%=  link_to "#{month.strftime("%b %d, %Y")}", monthly_note_path(month) %>

 
<div style="list-style-type: none"> 
<% (0..11).each do |loop| %>
 
 <% month = month.next_month %>

  <%= link_to "#{month.strftime("%b %d, %Y")}", monthly_note_path(month)%> 


 <% end %>

</div>
</div>

</li>


