

<% newdate = Date.parse(params[:id]) %>

<%= newdate.strftime("%b %d, %Y") %> -

<%= newdate.at_end_of_month.strftime("%b %d, %Y") %>	


<% date= Date.parse (params[:id]) %>

<% start_date = date.at_beginning_of_month %>

<% end_date = date.at_end_of_month %>

<div style="margin-left: 300px; margin-right: 300px; margin-top: 50px; line-height: 50px;">

<% dates= start_date.upto(end_date).to_a %>
<div class="box">

<p> Datewise </p>
<% dates.each do |date| %>

 <%= link_to "#{date.strftime("%b %d")}", daywise_note_path(date) %>

<% end %>

</div>




</div>

<div style ="margin-left: 300px; margin-right: 300px; margin-top: 50px;">	

  <% @monthly_notes.each do |note|  %>
    <div class="box">		
<p class="has-text-weight-bold"><%= note.topic_name %>  <%= note.created_at %></p><br> 
<%= sanitize note.notes %>
 </div>
 <% end %>

</div>
