

<%= form_for @note, local: true, data: {remote: true} do |f| %>

<div class="field">
	<div class="control">
 <%= f.label :topic_name %>
 <%= f.text_field :topic_name, placeholder: "Enter the topic name" %> 
  </div>
</div>

<%= f.label :notes %> 


<div class="field">
		<div class="control">
<%= f.text_area :notes, class: 'text_area' , placeholder: "Add/copy the notes here", :rows => 15, :cols => 60, autofocus: true %> <br>

</div>
</div>

<%= f.submit "Create notes", class: "button is-info" %>


<% end %>

</div>	