<div class ="notes-delete-<%= note.id %>">
<div class="box" style=" box-color: blue;">
	<div class="tags has-addons">

<%  subject = Subject.find_by(id: note.subject_id) %>

<% if subject.present? %>



   <%= link_to "#{subject.name}", subject_path(note.subject_id), class: "tag is-medium is-link" %> 

   </div>
   <div class="tags has-addons"> 	
  <span class="tag is-success is-medium"> <%= note.topic_name %></span> 
     <span class="tag is-primary is-medium is-pulled-right"> <%= note.created_at.localtime.strftime("%A, %b %d,  %l:%M %p") %>


      </span>
</div>

 	
     
     <%= simple_format note.notes %> <br>

     <%= link_to "Add subtopic", note_path(note) %> <br>

    <%= link_to "Edit Notes", edit_note_path(note) %> <br>
     
    <%= link_to "Delete Notes", note_path(note), method: :delete,  data: {remote: true } %>  
     <% end %>  
   </div>





</div><br> 

