<div id="subject" style="margin-left: 200px; margin-right: 150px; margin-top: 80px;">
<%= form_for @note, local: true, data: {remote: true} do |f| %>

<div class="field">
	<div class="control">
 <%= f.label :name %>
 <%= f.text_field :name, placeholder: "Enter the Subject name" %> 
  </div>
</div>



<%= f.submit "Create Subject", class: "button is-info" %>


<% end %>

</div>	