


 <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-top: 120px; margin-left: 160px;" %>
<%= will_paginate @notes %>

<div style ="margin-left: 350px; margin-right: 350px; margin-top: 150px;" >



   <%= render partial: 'notes', collection: @notes, as: :note %>
</div>

</div>