
<div id="subject" style="margin-left: 200px; margin-right: 150px; margin-top: 80px;">
<%= form_for [@note, ], local: true do |f| %>

<div class="field">
	<div class="control">
<%= f.label :topic_name %>
<%= f.text_field :topic_name %> <br>
</div>
</div>



<%= f.label :notes %> 

 <%= f.text_area :notes %>


<div class="field">
	<div class="control">
<%= f.select(:subject_id, options_for_select(@subjects), prompt: 'select one') %> <br>

</div>
</div>


<%= f.submit %>


<% end %>

</div>


<script>
var simplemde = new SimpleMDE();


</script>
