
<%= form_tag daywise_notes_path, method: :get do %>
  <p>
    <%= date_field_tag :date, params[:date] %>
    <%= submit_tag "Search by Date", name: nil, class: "button is-info", style: "line-height: 15px;" %>
  </p>
<% end %>

</div>

<h1 class="title is-1" style="margin-left: 200px; color: purple"> NotesMaker </h1>
<p style="margin-left: 200px;">  <strong> Quickly </strong> add your <strong style="color: green">  Notes </strong>  </p>


<div id="subject" style="margin-left: 350px; margin-top: 0px;">
  <%= form_for @subject, local: true, data: {remote: true} do |f| %>

    <div class="field">
      <div class="control">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Enter the Subject name" %>
      </div>
    </div>

    <%= f.submit "Create Subject", class: "button is-info" %>


  <% end %>

<%= link_to "Find & Follow user", find_users_path, style: "margin-left: 650px; margin-top: 10px;", class: "tag  is- primary is-medium" %>
<%= link_to "Followers Notes", followers_path, style: "margin-left: 650px; margin-top: 5px;", class: "tag  is- primary is-medium" %>
<%= link_to "Followings", relationships_path, style: "margin-left: 650px; margin-top: 5px;", class: "tag  is- primary is-medium" %>