
<div  style="margin-left: 150px; margin-top: 100px; line-height: 20px;">








  <div style="margin-top: -140px; margin-left: 15px;">
   <span class="tag is-medium is-success" style=" margin-top: -10px"> Subjects </span>  
 </div>
  <div style="margin-left: 30px; margin-top: 15px;">
  <% @allsubjects.each do |subject| %>
   <li><%= link_to "#{subject.name}", subject_path(subject.id) %>(<%= subject.notes.count %>)</li>  

   
   <% end %>

   
  </div>
  
</div>	

<div style="margin-left: 160px; list-style-type: none; margin-top: 60px;">

  <li> <%= link_to "Today Notes", today_notes_path, class: "tag is-link" %> </li>  

  <li>  <%= link_to "Recent Notes", recent_notes_path, class: "tag is-link", style: "margin-top: 5px;" %> </li> 
  
   <li> <%= link_to "ALL Notes", all_notes_path, class: "tag is-link", style: "margin-top: 5px;" %> </li>


  </div>




<div id="form" style="margin-left: 10px; margin-top: 50px">	


	
<%= form_for @note, local: true, data: {remote: true} do |f| %>

<div class="field">
	<div class="control">

<div style="width: 50%; margin-right: 50px;">
<%= f.label :subject %>
<%= f.select(:subject_id, options_for_select((@subjects)), :prompt => "select Subject")	%> <br>

</div>
</div>
</div>	

<%= f.label :notes %> 


<div class="field">
<%= f.hidden_field :notes %>
<div style="width: 700px; margin-top: 5px; ">	
<%= f.text_area :notes, placeholder: "Add/copy the notes here",  autofocus: true %> <br>
</div>

<%= f.submit "Create notes", class: "button is-info", style: "margin-top: -35px;" %>


<% end %>

</div>	





<div  class="notes" style ="margin-left: 30px; margin-right: 230px; margin-top: 40px;" >
  	

<% if @notes.count < 5 %>

  <% @notes = current_user.notes.all %> 
   <%= render partial: 'notes', collection: @notes, as: :note %>

<% else %>

   <% @notes = current_user.notes.last(3) %> 
    <%= render partial: 'notes', collection: @notes, as: :note %>

<% end %>    
  
</div>

</div>

</div>

</div>



<footer class="footer" style="margin-top: 50px;  background-color: #DDA0DD">

  <h1 class="title is-2"> NotesMaker </h1>
  <div class="content has-text-centered">
    <p>
       The notesmaker designed and made in chennai(india).
    </p>
  </div>
</footer>



<script>
var simplemde = new SimpleMDE();


</script>









