
<div id="form" style="margin-left: 250px; margin-right: 150px; margin-top: 100px;">
<%= form_for @note, local: true do |f| %>

<%= f.label :topic_name %>
<%= f.text_field :topic_name %> <br>

<%= f.label :notes %> 

 <%= f.text_area :notes,    as: :trix_editor, :rows => 20, :cols => 80, autofocus: true %>




<%= f.submit "Create notes" %>


<% end %>

</div>


