

<div style="margin-top: 20px; margin-left: 50px;">
<% read_notes = Note.where(mark_read: true) %>
<ol>
<% read_notes.each do |note| %>
<li> <%= link_to "#{note.topic_name}", note_path(note) %> </li>
<% end %>
</ol>

</div>
