


 <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-top: 120px; margin-left: 160px;" %>

<div style ="margin-left: 300px; margin-right: 300px; margin-top: 50px;" >
	<% notes = @recent_notes.reverse %>
   <% notes.each do |note| %>
	<div class="box">	
    <% if note.mark_read.present? %>
	    <p class="has-text-weight-bold"><%= note.topic_name %>  <span style="margin-left: 20px; color: purple" width: 10px;> &#10004 </span> </p>
	<% end %>
  	<%= note.created_at.strftime("%A, %b %d") %>   
  	<%= link_to "View notes", note_path(note) , class: "button is-primary is-pulled-right" %> 	
<%= sanitize note.notes %>
</div>
<% end %>
</div>
