




<div style="margin-left: 150px; list-style-type: none; margin-top: 50px;">

<p>  </p>

<p> Sub topics (<%= @note.concepts.count %>)</p>
<% @note.concepts.each do |concept| %>

<li> <%= link_to "#{concept.name}" %> </li>

<% end %>


<div style="margin-top: 10px; margin-left: 200px; margin-right: 300px;">

<div class="box">
<h1> Topic name:  <%= @note.topic_name %> <%= link_to 'Edit notes', edit_note_path(@note) %> </h1>  	
<%=  sanitize @note.notes %>


<h1> Created on:  <%= @note.created_at.strftime("%A, %d %b %Y %l:%M %p")%> </h1> 




<%= link_to 'Delete', note_path(@note) , data: { confirm: "Are u want to delete this notes???" } %>

</div>
</div>

 <p style='font-size:35px; margin-left: 220px;  color: blue;'>&#8627;</p>

<% if @note.concepts.present? %>

<% @note.concepts.each do |concept| %>
<div id= "<%= concept.id %>" style="margin-left: 250px; margin-right: 200px; line-height: 20px;">

	<h1> concept :  <%= concept.name %> </h1>

<div class="box">
  <%= concept.created_at.strftime("%A, %d %b %Y %l:%M %p")%>  <br>

<%= sanitize concept.desc %>
</div>

 <p style='font-size:35px; margin-left: -5px;  color: blue;'>&#8627;</p>
</div>
<% end %>
	
<% end %>


<div style="margin-left: 250px; margin-right: 250px; margin-top: 10px;">
<%= form_with( model: [@note, @note.concepts.build], local: true) do |f| %>

<%= f.label :Concepts %>
<%= f.text_field :name %> <br>

<%= f.label :Description %> 

<div class="field">
	<div class="control">
 <%= f.text_area :desc,  placeholder: "Add/copy the notes here", autofocus: true %>
</div>
</div>


<%= f.submit "Add concepts" %>


<% end %>

</div>

<script>
var simplemde = new SimpleMDE();


</script>


