
<div style="margin-top: 100px; margin-left: 150px;">

<% read_notes = Note.where(mark_read: false) %>
<ol>
<% read_notes.each do |note| %>

<li> <%= link_to "#{note.topic_name}", note_path(note) %> </li>
<% end %>
</ol>

</div>
