


<div style="margin-left: 300px; margin-top: 50px;">
<%= form_tag daywise_notes_path, method: :get do %>
        <p>
          <%= date_field_tag :date, params[:date] %>
          <%= submit_tag "Search", name: nil, class: "button is-info", style: "line-height: 15px;" %>
        </p>
      <% end %>

  <p class="has-text-center" style="margin-left: 30px; color: orange">    OR </p>

      <p class="is-italic" style="margin-top: 10px;"> Search topic  </p> 
<%= form_tag daywise_notes_path, method: :get do %>
        <p>
          <%= text_field_tag :topic_name, params[:topic_name], placeholder: 'search through topic_name' %>
          <%= submit_tag "Search", name: nil, class: "button is-info" %>
        </p>
      <% end %> <br>      
</div>



<% if params[:date].present? || params[:topic_name] || params[:notes] %>
 <% if @notes.present? %>
 <div style ="margin-left: 300px; margin-right: 300px; margin-top: 50px;">	

   
   <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-left: -150px; margin-top: -30px;" %> 
   <p class="has-text-weight-bold" style="color: blue; margin-left: -150px;"> Notes(<%= @notes.count %>)    </p>  
  
  
   

  <% @notes.each do |note|  %>
    <div class="box">		
      <div class="tags has-addons">
     <span class="tag is-success"> <%= note.topic_name %></span> 
     <span class="tag is-link is-pulled-right"> <%= note.created_at.strftime("%A, %b %d") %>  </span>
   </div>
    <%= sanitize note.notes %>
   <%=  highlight(note.notes, params[:notes]) %>)
 </div>
 <% end %>
</div>  

<% else %>
<p class="has-text-center weight-italic" style="margin-left: 350px; margin-top: 50px;"> No Notes added so far </p>
   <%= link_to "Back Home",  notes_path, class: "tag is-link" %> 
<% end %>   
<% end %>
</div>
