  <% if @daywise_notes.present? %>
<div style ="margin-left: 300px; margin-right: 300px; margin-top: 50px;">

   <div style=" margin-left: -150px;">
    <p style="font-style: italic; color: blue;"> <%= Date.parse(params[:id]).strftime(" %d %b") %>  Notes(<%= @daywise_notes.count %>) </p>	
   </div>
 
  <% @daywise_notes.each do |note|  %>
    <div class="box">		
<p class="has-text-weight-bold"><%= note.topic_name %>  <%= note.created_at %></p><br> 
<%= sanitize note.notes %>
 </div>
 <% end %>
 <% else %>
<div style="margin-left: 250px; margin-top: 100px;">
 <p style="font-style: italic;">  <%= Date.parse(params[:id]).strftime(" %d %b") %>  No notes added so far  </p> 
   <%= link_to "Add your notes", new_note_path %>
 </div>
 <% end %>

</div>