 <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-top: 120px; margin-left: 160px;" %>

<% @today_notes.each do |note|  %>
	<div class="box">	
<p class="has-text-weight-bold"><%= note.topic_name %> </p>  
	<% if note.mark_read.present? %>
	   <p class="has-text-weight-bold">  <span style="margin-left: 20px; color: purple" width: 10px;> &#10004 </span></p>
	<% else %>
     <%= link_to "Mark Read", today_note_path(note), method: :put,class: "button is-primary is-pulled-right"%>
    <% end %>
<%= sanitize note.notes  %>
</div>
<% end %> 
</div>