<div style ="margin-left: 300px; margin-right: 300px; margin-top: 150px;">
<ol>
<% @read_notes.each do |note|  %>
	<div class="box">	
<li><%= link_to "#{note.topic_name}",  note_path(note) %> </li>
</div>
<% end %> 
</ol>
</div>