<div style ="margin-left: 300px; margin-right: 300px; margin-top: 150px;">
<ol>
<% @unread_notes.each do |note|  %>
<li><%= link_to "#{note.topic_name}",  note_path(note) %> </li>
<% end %> 
</ol>
</div>