
<div style="margin-left: 250px; margin-right: 150px; margin-top: 100px;">

<%= form_for @url, local: true do |f| %>


<%= f.text_field :url %>

<%= f.submit "Save", class: "button is-info"  %>


<% end %>


<div style ="margin-left: 50px;  margin-top: 50px; width: 250px;" >

<% @urls.each do |link| %>

<div class="box">

<%= link_to  "#{link.url}" %>

</div>
<% end %>

</div>	