<div style ="margin-left: 300px; margin-right: 300px;">
<% note_ids = @revise_notes.pluck(:note_id) %>

<% notes = Note.where(id: note_ids).where(mark_read: true) %>	
<% notes.each do |note|  %>
	<div class="box">	
<p class="has-text-weight-bold"><%= note.topic_name %>  </p>
  <div>
  	<%= note.created_at.strftime("%A, %b %d") %>   
  	<%= link_to "View notes", note_path(note) , class: "button is-primary is-pulled-right" %> 
  	<% if note.mark_read.present? %>
	   <p class="has-text-weight-bold"> Read the note   <span style="margin-left: 20px; color: purple" width: 10px;> &#10004 </span></p>
	<% end %>
  	</div>	
<%= sanitize note.notes %>

</div>
<% end %> 




