



<div style="margin-left: 100px;">

<%= link_to "ages", ages_path %>

<%= link_to "train", train_path %>


<%= link_to "geomentry", geomentry_path %>


<%= link_to "algebra", algebra_path %>


<%= link_to "probability", probability_path %>



</div>