
<div style="margin-left: 250px; margin-top: 80px;">

<%= form_tag find_users_path, method: :get do %>
  <p>
  <%= text_field_tag :username, params[:username] %>
  <%= submit_tag "Search by username", class: "button is-info", style: "line-height: 20px;" %>
  </p>

<% end %>  

</div>






<div class="box" style="margin-left: 200px; width: 400px; margin-top: 150px;">

<% if @user.present? %>
<%=  @user.email %>   <%= link_to 'Follow', relationships_path(follower_id: @user&.id), method: :post, class:'button is-link is-pulled-right' %>  <br>
<%= link_to 'Unfollow', relationship_path(@user.id), method: :delete, class: 'button is-link is-pulled-right' %><br>

<% end %>
<hr>

</div>	