



  <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-top: 120px; margin-left: 100px;" %>

<div class="followers" style=" margin-left: 300px; margin-right: 300px; margin-top: 50px;">

<% @users.each do |user| %>

   <div class="tags has-addons">  
  <span class="tag is-dark is-light"> <%= user.email %></span> 

</div>


<% notes = user.notes.to_a %>

<% notes.each do |note| %>
<div class="box" >	
   <div class="tags has-addons"> 	
  <span class="tag is-success is-medium"> <%= note.topic_name %></span> 
     <span class="tag is-link  is-medium is-pulled-right"> <%= note.created_at.localtime.strftime("%A, %b %d,  %l:%M %p") %>


      </span>
</div>


  
  	<%= link_to "Delete", note_path(note), method: :delete,  data: {remote: true }, class: "button is-info is-pulled-right" %>  	
     <%= sanitize note.notes %> <br>

     <%= link_to "Add subtopic", note_path(note) %>
   </div>

 <% end %>  

 <% end %>  
  
  </div>