
<div class="box" style="margin-left: 200px; width: 400px; margin-top: 150px;">

<% @users.each do |user| %>

<%=  user.email %>   <%= link_to 'Follow', relationships_path(follower_id: user.id), method: :post, class:'button is-link is-pulled-right' %>  <br>
<%= link_to 'Unfollow', relationship_path(user.id), method: :delete, class: 'button is-link is-pulled-right' %><br>

<hr>

<% end %>
</div>	


<div style="margin-left: 250px">

  <%= link_to 'Followers Feed', followers_path, data: {remote: true}, class: 'button is-link' %>

</div>