

<div style= "margin-left: 150px; list-style-type: none; margin-top: 50px;">
<%= link_to "Read notes", read_notes_path %>
	<% read_note = @weekly_notes.where(mark_read: true) %>
	<li> <%= read_note.count %> </li>

    <%= link_to "unread notes", unread_notes_path %>
	<% unread_note = @weekly_notes.where(mark_read: false) %>
  <li><%= unread_note.count %> </li>
</div>	


<div style ="margin-left: 300px; margin-right: 300px; margin-top: 100px;">	
  <% @weekly_notes.each do |note|  %>
    <div class="box">		
<p class="has-text-weight-bold"><%= note.topic_name %>  <%= note.created_at %></p><br> 
<%= sanitize note.notes %>
 </div>
 <% end %>
</div>

