


<div style="margin-top: 50px;">
<%= form_for @setgoal,  local: true do |f| %>


<%= f.text_field :set_notes %>


<%= f.submit "setgoal" %>


<% end %>


<% @setgoals.each do |goal| %>

User tagert : 

<% count = goal.set_notes %>

<%= goal.set_notes %> <br>

<% daily_notes = Note.all.where(mark_read: true).where(date: Date.today)  %>

Total left:

<%= total= count- daily_notes.count  %> <br>

<progress class="progress is-primary" value="#{total}" max="100" %>  "#{total}" </progress>

<% end %>

</div>