

<%= form_for @monthly_task,  local: true do |f| %>


<%= f.text_field :name  %>

<%= f.date_field :date %>

 <%= f.submit "submit" %>
<% end %>

<div  class="task" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">
  <%= month_calendar do |date| %>
   <%= date.strftime("%b %d") %> 
  <% @monthly_tasks.each do |task| %>
  <% if date == task.date %>
  <li> <%= task.name %> </li>
  <% end %>
  <% end %>
<% end %>
</div>

<div id="calendar">

</div>


<script type="text/javascript">
	$('#calendar').fullCalendar();
</script>