


  <%= link_to "Back Home",  notes_path, class: "button is-link", style: "margin-top: 120px; margin-left: 160px;" %>

<div style ="margin-left: 300px; margin-right: 300px; margin-top: 150px;">
<% @notes.each do |note| %>  
<div class="box" style: "box-color: blue;">	
	<div class="tags has-addons">


   </div>
   <div class="tags has-addons"> 	
  <span class="tag is-success is-light"> <%= note.topic_name %></span> 
     <span class="tag is-link is-pulled-right"> <%= note.created_at.localtime.strftime("%A, %b %d,  %l:%M %p") %>
      </span>
</div>
   
  	<%= link_to "View notes", note_path(note) , class: "button is-primary is-pulled-right" %>
  	<%= link_to "Delete", note_path(note), method: :delete,  data: {remote: true }, class: "button is-info is-pulled-right" %>  	
<%= sanitize note.notes %>
      </div>
    <% end %> 

</div><br>   