
<div class="list-<%= list.id %>" style="line-height: 30px; padding: 3px;">	
 <div class="tags has-addons">
  <span class="tag is-success">
  <%= list&.timesheet %> </span>  <p style="margin-left: 20px; font-size: 25px; line-height: 50px;"> <%= list&.todoitem %> </p> <%= link_to "Edit",  edit_todolist_path(list) %> <%= link_to 'Delete',  todolist_path(list), method: :delete, data: { remote: true}, class: "delete" %> </span>
   <br>
  </div>
</div>






