<div style ="margin-left: 150px; margin-top: 70px;">
<%= form_for @todolist, data: {remote: true}, local: true do |f| %>


<div class="field">
 <label class="label">Time Period</label>
 <div class="control">

<%= f.text_field :timesheet, placeholder: '10-12 Am', style: 'width: 120px;' %><br>

</div>

</div>


<div class="field">
 <label class="label">TodoItem</label>
 <div class="control">
<%= f.text_field :todoitem %> <br>

</div>
</div>



<div class="field">

<div class="control">	
<%= f.submit "Add List", class: "button is-link" %>

</div>
</div>

<% end %>
</div>