/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 *= require toastr
 */
@import "bulma";
@import "toastr";
@import "font-awesome";
@import "simplemde.min";


html, body {
	
	margin: 0;

	padding: 0;

	overflow-x: hidden;
}

.navbar-item {
 margin-top :5px;
  border-bottom: 1px solid #FFCBA4;
}



.navbar-item:hover {
  opacity: 1;
}

.navbar-item::before {
  transition: 400ms;
  margin-top: 5px;
  height: 2.5px;
  content: "";
  position: absolute;
  background-color: #FFE4B5;
}

.navbar-item::before {
  width: 0%;
  bottom: 10px;
}

.navbar-item:hover::before {
  width: 85%;
}








@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {}

