// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	
	background-color: #ddf0e9;

	padding:0;

	margin:0;

    background-size: 100%

  
}


body
{
  margin: 0px;
}