// Place all the styles related to the Todolists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	
	background-color: #ddf0e9;

	padding:0;

	margin:0;

	overflow-x: hidden;

	height: 100%;


}


