<!DOCTYPE html>
<html>
  <head>
    <title>Notesmaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>




  <nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
  <%= link_to "Create New Notes", notes_path,  class: "navbar-item" %>

     

      <% if current_user.present? %> 
         
    

      

      <%= link_to "Todo Lists",todolists_path,  class: "navbar-item" %>   

      <% notes = current_user.notes.all %>

    

      

    

       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
               Week/Month  
        </a>


         

      <div class="navbar-dropdown">
       

           <% today_notes = current_user.notes.where(date: Date.today).order('id DESC')%>

         <%= link_to "Today Notes (#{today_notes.count})", today_notes_path,  class: "dropdown-item" %> 
           <%= link_to "Recent Notes", recent_notes_path,class: "dropdown-item" %>
           <%= link_to "Weekly notes", weekly_notes_path,  class: "dropdown-item" %>
           <%= link_to "Monthly notes", monthly_notes_path, class: "dropdown-item" %>

      
         
            <% end %>
      </div> 
      </div>   
          
  

       <div style="margin-top: 12px; line-height: 10px; margin-left: 10px;">
       <%= form_tag daywise_notes_path, method: :get do %>
        <p>
          <%= text_field_tag :notes,  placeholder: 'search  keywords',  style: "width: 150px;" %>
          <%= submit_tag "Search", name: nil, class: "button is-info", style: "line-height: 5px; height: 28px;" %>
        </p>
      <% end %> 
      </div>
     
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
               Social Network  
        </a>
        <div class="navbar-dropdown">
  
          <%= link_to "Search users",  find_users_path,  class: "dropdown-item" %>
          <%= link_to "Follow the users",  relationships_path,  class: "dropdown-item" %>

    
        </div>
      
      </div>     
       
         <% time = Time.now %>
         
    
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
         <% if user_signed_in? %>  
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-item' %>
   <% else %>
    <%= link_to "Sign up", new_user_registration_path, class: 'navbar-item' %> 
     <%= link_to "Login", new_user_session_path,  class: 'navbar-item'  %>
       <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
</nav>






 <%= yield %>





   
  </body>
</html>
